// Put your custom SCSS variables here

// Light mode
$primary: #6D4AFF;

// Dark mode
$link-color-dark: #E3D9FF;
$button-color-dark: #E3D9FF;

:root,
::backdrop {
  --sl-color-accent-high: #E3D9FF;
}

$font-family-sans-serif:
  "Poppins",
  system-ui,
  -apple-system,
  "Noto Sans",
  "Noto Color Emoji";
